<div class="nested-fields">
  <div class="form-group">
    <%= form.hidden_field :_destroy %>
    <%= form.text_field :name, placeholder: "centralino", class: "form-control" %>
    <%= form.text_field :prefix, class: "form-control" %>
    <%= form.text_field :number, class: "form-control" %>
    <small>
      <%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association" } %>
      <%#= link_to "Remove", "#", 'data-action': "click->nested-form#remove_association" %>
    </small>
  </div>
</div>
